<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiami.springboot.sbootdemo.mapper.CommodityMapper">

    <resultMap id="commodityMap" type="com.xiami.springboot.sbootdemo.domain.dto.CommodityDTO">
        <id property="id" column="id"/>
        <result property="count" column="count"/>
        <result property="name" column="name"/>
        <result property="describe" column="describe"/>
        <result property="price" column="price"/>
        <result property="typeId" column="type_id"/>
        <result property="version" column="version"/>
        <result property="bflag" column="bflag"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="createTime" column="create_time"/>
        <result property="img" column="img"/>
        <result property="typeName" column="type_name"/>
        <result property="merchantName" column="merchant_name"/>
    </resultMap>
    <!-- 查询所有商品的信息 -->
    <select id="selectAll" resultMap="commodityMap">
        SELECT c.id,c.name ,c.price ,c.type_id ,c.count ,c.describe ,c.merchant_id,c.version ,c.bflag,c.img,c.create_time,t.type_name,m.merchant_name
        FROM commodity c LEFT JOIN type t
        ON c.type_id=t.type_id and t.type_bflag=1 LEFT JOIN merchant m
        ON c.merchant_id=m.merchant_id
        where c.bflag=1
    </select>
    <!-- 新增商品 -->
    <insert id="insertCommodity" parameterType="com.xiami.springboot.sbootdemo.domain.Commodity">
        insert into commodity(`name`,price,`type_id`,`count`,`describe`,version,bflag,create_time,merchant_id,img)
        VALUES (#{name},#{price},#{typeId},#{count},#{describe},1,1,#{createTime},#{merchantId},#{img})
    </insert>
    <!-- 更改商品 -->
    <update id="updateCommodity">
        update  commodity
        set `name`=#{name},price=#{price},`type_id`=#{typeId},`count`=#{count},`describe`=#{describe},version=#{version},bflag=#{bflag},create_time=#{createTime},merchant_id=#{merchantId},img=#{img}
        where id=#{id} and version=#{version}
    </update>
    <!-- 删除商品 -->
    <update id="deleteCommodity">
        update commodity set bflag=0 where id=#{id}
    </update>
    <!-- 查询单个商品信息 -->
    <select id="selectSingle" resultMap="commodityMap">
        SELECT c.id,c.name ,c.price ,c.type_id ,c.count ,c.describe ,c.merchant_id,c.version ,c.bflag,c.img,c.create_time,t.type_name,m.merchant_name
        FROM commodity c LEFT JOIN type t
        ON c.type_id=t.type_id and t.type_bflag=1 LEFT JOIN merchant m
        ON c.merchant_id=m.merchant_id
            <where>
                <if test="id!=null">
                    c.id=#{id} and c.bflag=1
                </if>
            </where>
    </select>
</mapper>